body {
    font: 10pt arial;
    color: #fff;
}

#graph {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.axis path {
}

.axis line {
    stroke-opacity: 1;
    shape-rendering: crispEdges;
}

.line {
    stroke-linecap: round;
    stroke-linejoin: round;
}

div.tooltip {
    position: absolute;
    text-align: center;
    height: 28px;
    padding: 0.3em;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.1;
    stroke-dasharray: 3,3;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
    display: none;
    shape-rendering: crispEdges;
}

.no-select {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}
